*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

.chat-container{height: 100vh;background: lightgray;display: flex;}

.left-view{height: 100%;width: 25%;background: aliceblue;}

.right-view{width: 75%;height: 100%;background: #2c3e50;}

.chat-window{height: 90%;padding: 10px;overflow: auto;}

.chat{/* margin-top: 15px; */color: white;min-height: 30px;margin: 15px;border-radius: 10px;padding: 5px;/* margin-top: 15px; */margin-top: 15px;/* float: right; */clear: both;word-break: break-all;width: 193px;}

.left{background: green;}

.right{background: #9b59b6;float: right;}

.join{background: #3498db;width: 80%;margin: auto;margin-top: 15px;justify-content: center;align-items: center;display: flex;justify-content: center;align-items: center;}

.leave{
    background: #e74c3c;
    width: 80%;
    margin: auto;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-input-box{height: 10%;background: #2c3e50;display: flex;/* align-content: center; */justify-content: center;align-items: center;border-top: solid lightgray;}

.chat-input-box input{
  height: 70%;
  width: 87%;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 1.2rem;
  padding: 10px;
}